@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap');

body{
    font-family: 'DynaPuff', cursive;
    background: #6A5495;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center; /*centra los contenedores hijos*/ 
    align-items: center;
}

#titulo{
    margin: 70px 40px 35px 40px;
    color: #8BDB81;
    font-size: 35px;
    text-shadow: black 1px 0 15px;
}

#subtitulo{
    color: #ED5EDD;
    width: 293px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    font-size: 28px;
    text-align: center;
    text-shadow: black 1px 0 15px;
}

#tarjetas{
    display: flex;
    gap: 10px;
    font-size: 20px;
}

#tarjeta-de-mokepon{
    width: 222px;
    height: 155px;
    background: beige;
    padding: 10px;
    margin:30px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex; /*permite ubicar uno a lado del otro*/
    text-shadow: rgb(138, 59, 147) 5px 5px 6px;
}

#tarjeta-de-mokepon img{
    width: 125px;
}

#boton-mascota{
    width: 180px;
    height: 45px;
    background: #8BDB81;
    padding: 10px;
    box-sizing: border-box;
    margin: 30px;
    border: 1px solid  black;
    font-family: 'DynaPuff', cursive;
    border-radius: 20px;
    font-size: 18px;
}
input{
    display: none;
}

#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} 

.botonAtaque{
    background-color: #8BDB81;
    padding: 10px;
    box-sizing: border-box;
    border-color: transparent;
    margin: 30px;
    font-family: 'DynaPuff', cursive;
    border-radius: 20px;
    font-size: 18px;
    width: 130px;
    text-align: center;
}

#mensajes p {
    display: flex;
    color: #ED5EDD;
    width: 675px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    font-size: 28px;
    text-align: center;
    text-shadow: black 5px 5px 6px;
}

#boton-reiniciar{
    background-color: #8BDB81;
    padding: 10px;
    box-sizing: border-box;
    border-color: transparent;
    margin: 30px;
    font-family: 'DynaPuff', cursive;
    border-radius: 20px;
    font-size: 18px;
    width: 130px;
    text-align: center;
}
