@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap');

body{
    font-family: 'DynaPuff', cursive;
    background: #6A5495;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center; /*centra los contenedores hijos*/ 
    align-items: center;
}

#titulo{
    margin: 50px 40px 35px 40px;
    color: #8BDB81;
    font-size: 35px;
    text-shadow: black 1px 0 15px;
}

#subtitulo{
    color: #ED5EDD;
    font-size: 28px;
    text-align: center;
    text-shadow: black 1px 0 15px;
}

#contenedorTarjetas{
    display: flex;
    gap: 10px;
    font-size: 20px;
}

#tarjeta-de-mokepon{
    width: 222px;
    height: 155px;
    background: beige;
    padding: 10px;
    margin:30px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex; /*permite ubicar uno a lado del otro*/
    text-shadow: rgb(138, 59, 147) 5px 5px 6px;
    cursor: pointer;
}

#tarjeta-de-mokepon img{
    width: 125px;
}

#boton-mascota{
    width: 180px;
    height: 45px;
    background: #8BDB81;
    padding: 10px;
    box-sizing: border-box;
    margin: 30px;
    border: transparent;
    font-family: 'DynaPuff', cursive;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}

#boton-mascota:hover{
    background: #14C38E;
    box-shadow: #00FFAB 2px 0px 50px ;
}

input{
   display: none;
}

input:checked + label {
    border: 3px solid  #570a57;
    box-shadow: #f10086 2px 0px 50px ;
}

#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} 

.botonAtaque{
    background-color: #8BDB81;
    padding: 10px;
    box-sizing: border-box;
    border-color: transparent;
    margin: 25px;
    font-family: 'DynaPuff', cursive;
    border-radius: 20px;
    font-size: 18px;
    width: 130px;
    text-align: center;
    cursor: pointer;
}

.botonAtaque:hover{
    background: #59CE8F;
    box-shadow: #00FFAB 2px 0px 50px ;
}

#mensajes{
    display: flex;
    color: #ED5EDD;
    width: 675px;
    height: 120px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    font-size: 28px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    text-shadow: black 5px 5px 6px;
}

#mensajes p{
    margin: 0;
}

#boton-reiniciar{
    background-color: #8BDB81;
    padding: 10px;
    box-sizing: border-box;
    border-color: transparent;
    margin: 15px;
    font-family: 'DynaPuff', cursive;
    border-radius: 20px;
    font-size: 18px;
    width: 130px;
    text-align: center;
    cursor: pointer;
}

#boton-reiniciar:hover{
    background: #59CE8F;
    box-shadow: #B4FF9F 2px 0px 50px ;
}

#ataques{
    display: grid;
    grid-template-columns: 180px 180px;
}

#vidas-jugador, #vidas-enemigo{
    font-size: 32px;
    margin-bottom: 0;
}

#tarjetas-ataque{
    display: flex;
    gap: 10px;
}

#ataques-jugador, #ataques-enemigo{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 20px;
    text-shadow: #ED5EDD 1px 0 15px;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa{
    border: 2px solid white;
    background: beige;
}

@media (max-width:750px){
    #contenedorTarjetas{
        flex-direction:column;
    }

    #tarjetas-ataque{
        flex-direction:column;
    }
}